a { color: inherit; } 



.topnav {
  overflow: hidden;
}

.topnav a {
	font-family: 'Abel';
	font-weight: 300;
	padding: 15px;
	color: #B9B9B9;
	text-decoration: none;
}
#home {
	float: left;
	font-size: 50px;
	padding-left: 30px;
	color: #2C2C2C;

}

.right {
	float: right;
	font-size: 35px;
	padding-top: 20px;
	padding-right: 20px;

}

.topnav a:hover {
  color: #2C2C2C;
}

.topnav a.active {
  color: #2C2C2C;
}

.pic{
	float:right;
	height: 400px;
	min-width: 677px;
	max-width: 677px;
	padding:20px;
}

p {
	font-size: 20px;
	font-family: 'Abel';
	font-weight: 300;
	padding: 15px;
	color: #2C2C2C;
	margin:0px;
}

.text {
	float:left;
	width: 45%;
	padding: 20px;

}

.title {
	padding-left: 15px;
	padding-bottom: 20px;
	font-family: 'Abel';
	font-weight: 400;
	margin:0px;
	font-size: 35px;
	text-decoration: underline;
	color:#2C2C2C;

}

.project{
	height:500px;
}

#btpic{
	min-width: 300px;
	max-width: 300px;
    padding-right:200px;
	border:0;
	background-color: : none;
}


#rotatopic{
	min-width: 600px;
    max-width: 600px;
    /* max-height: 400px; */
    padding-top: 50px;
    padding-right: 100px;
    border: 0;
    float: right;
}



video {
	margin-top: 20px;
	float: right;
    padding-right: 100px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  float: right;
    padding-right  : 200px;
    padding-top: 20px;
    

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
    margin-right: 208px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


